.CardOffer {
    padding: 4px 4px;
    width: 20%;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #e3e2de;
    background-color: hsl(48, 8%, 88%);
    margin: 1% 1%;
}

.description {
    display: grid;
    grid-template-columns: auto;
}

.description img {
    display: block;
    border-style: none; 
}

.description-offer h3 {
    font-size: 18px;
}

.description-offer h4 {
    font-size: 12px;
}