/* .search-main {
    background: url('https://wallpapercave.com/wp/wp3631175.jpg');
    background-size: contain;
    position : absolute;
    display: flex;
    left:0;
    right:0;
    padding:15px;
    align-items:inherit;
    border:0px solid;
    /* position:relative; */
  /*  height:600px;
}

.search-main img {
    width: 100%;
} */